body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: "Poppins", sans-serif;
    color: white;
}

/* Cinematic Intro */
#cinematic {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #0f210f, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut 6s forwards 7s;
}

.logo-glow {
    font-size: 160px;
    animation: glowPulse 4s infinite;
    margin-bottom: 20px;
}

@keyframes glowPulse {
    0% { text-shadow: 0 0 20px #2efa36; opacity: 0.8; }
    50% { text-shadow: 0 0 80px #2efa36; opacity: 1; }
    100% { text-shadow: 0 0 20px #2efa36; opacity: 0.8; }
}

.school-title {
    font-size: 2rem;
    letter-spacing: 3px;
}

.event-title {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.7;
}

/* Laser */
.scan-laser {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: lime;
    animation: scanLaser 4s infinite;
}

@keyframes scanLaser {
    0% { top: 0; opacity: 1; }
    50% { top: 90%; opacity: 0.4; }
    100% { top: 0; opacity: 1; }
}

/* 3D Earth Sphere Canvas */
#earthCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* Main UI */
.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fg-title {
    font-size: 4rem;
    font-weight: 800;
    color: #4cff4c;
    text-shadow: 0 0 40px #4cff4c;
}

.tagline {
    margin-top: -10px;
    opacity: 0.6;
}

.launch-btn {
    margin-top: 25px;
    padding: 20px 55px;
    font-size: 1.4rem;
    background: linear-gradient(90deg, #36ff4f, #00d0ff);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: black;
    font-weight: 700;
    box-shadow: 0 0 30px #36ff4f;
    transition: 0.3s;
}

.launch-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #36ff4f, 0 0 50px #00d0ff;
}

/* Portal */
.portal-ring {
    width: 300px;
    height: 300px;
    border: 5px solid #32ff4f;
    border-radius: 50%;
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
    animation: portalSpin 5s infinite linear;
}

@keyframes portalSpin {
    0% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(-50%) rotate(360deg); }
}

/* Particles */
#particles {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Flash Explosion */
#flash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
}
